# Constructing our Minimum-Covariance Portfolios

We will be constructing our portfolios by selecting the assets which have the lowest correlations between each other. We will rebalance semi-annually based on these selections, and at each rebalance, ensure that our portfolio is split among the two geographies 50/50

In [11]:
import numpy as np
import pandas as pd

In [12]:
# Remove 1st line since they are pct changes, therefore have
# NaNs in the first row
rets = pd.read_csv("returns.csv")[1:]
rets.head()

,Date,EWJ,EWT,MCHI,EWY,EWZ,INDA,ACWV,IDV,EWC,...,EFNL,UAE,KWT,CNY=X,BRL=X,ZAR=X,RUB=X,EUR=X,JPY=X,MXN=X
1,2011-01-04,0.000804,-0.007407,NaN,0.002263,0.004396,NaN,NaN,-0.009259,-0.010412,...,NaN,NaN,NaN,-0.001760,0.019189,0.006326,0.0,0.000134,0.006743,-0.000384
2,2011-01-05,-0.007231,-0.016584,NaN,0.000376,-0.011616,NaN,NaN,-0.002596,0.002023,...,NaN,NaN,NaN,0.002584,0.012754,0.003853,0.0,0.002671,0.004506,-0.004249
3,2011-01-06,0.000000,-0.002108,NaN,-0.006960,-0.010049,NaN,NaN,-0.009891,-0.004847,...,NaN,NaN,NaN,-0.002956,0.004498,0.008670,0.0,0.012522,0.014030,0.003119
4,2011-01-07,0.003777,-0.015632,NaN,0.005493,-0.009119,NaN,NaN,-0.005258,0.000406,...,NaN,NaN,NaN,0.005929,0.006507,0.012983,0.0,0.013551,0.001334,0.000573
5,2011-01-10,0.000000,0.002146,NaN,-0.014883,-0.010071,NaN,NaN,0.000529,-0.003651,...,NaN,NaN,NaN,0.000151,-0.029895,-0.000295,0.0,0.006620,-0.003241,-0.001063

In [13]:
# Reindex to date
rets.index = pd.to_datetime(rets['Date'])
del rets['Date']
rets.head()

,EWJ,EWT,MCHI,EWY,EWZ,INDA,ACWV,IDV,EWC,EWU,...,EFNL,UAE,KWT,CNY=X,BRL=X,ZAR=X,RUB=X,EUR=X,JPY=X,MXN=X
Date,,,,,,,,,,,,,,,,,,,,,
2011-01-04,0.000804,-0.007407,NaN,0.002263,0.004396,NaN,NaN,-0.009259,-0.010412,0.010462,...,NaN,NaN,NaN,-0.001760,0.019189,0.006326,0.0,0.000134,0.006743,-0.000384
2011-01-05,-0.007231,-0.016584,NaN,0.000376,-0.011616,NaN,NaN,-0.002596,0.002023,-0.002157,...,NaN,NaN,NaN,0.002584,0.012754,0.003853,0.0,0.002671,0.004506,-0.004249
2011-01-06,0.000000,-0.002108,NaN,-0.006960,-0.010049,NaN,NaN,-0.009891,-0.004847,-0.008647,...,NaN,NaN,NaN,-0.002956,0.004498,0.008670,0.0,0.012522,0.014030,0.003119
2011-01-07,0.003777,-0.015632,NaN,0.005493,-0.009119,NaN,NaN,-0.005258,0.000406,-0.003925,...,NaN,NaN,NaN,0.005929,0.006507,0.012983,0.0,0.013551,0.001334,0.000573
2011-01-10,0.000000,0.002146,NaN,-0.014883,-0.010071,NaN,NaN,0.000529,-0.003651,0.001751,...,NaN,NaN,NaN,0.000151,-0.029895,-0.000295,0.0,0.006620,-0.003241,-0.001063

In [14]:
dates_to_split = pd.date_range(rets.index[0], rets.index[-1], freq='6M')
dates_to_split

DatetimeIndex(['2011-01-31', '2011-07-31', '2012-01-31', '2012-07-31',
               '2013-01-31', '2013-07-31', '2014-01-31', '2014-07-31',
               '2015-01-31', '2015-07-31', '2016-01-31', '2016-07-31',
               '2017-01-31', '2017-07-31', '2018-01-31', '2018-07-31',
               '2019-01-31', '2019-07-31', '2020-01-31', '2020-07-31',
               '2021-01-31'],
              dtype='datetime64[ns]', freq='6M')

In [15]:
# Split on these dates
semiannual = {}

for i in range(len(dates_to_split)-1):
    #print(dates_to_split[i+1])
    semiannual[i] = rets[dates_to_split[i]:dates_to_split[i+1]]

In [16]:
# Sanity check
print(semiannual[0].index[0],semiannual[0].index[-1])

2011-01-31 00:00:00 2011-07-29 00:00:00

In [17]:
# Sanity check
print(semiannual[1].index[0],semiannual[1].index[-1])

2011-08-01 00:00:00 2012-01-31 00:00:00

In [18]:
# Sanity check
print(semiannual[19].index[0],semiannual[19].index[-1])

2020-07-31 00:00:00 2021-01-29 00:00:00

In [48]:
# For each group of 6mo, find the assets with lowest avg correlation
corrs = semiannual[10].corr().abs().mean(axis=1)
corrs

EWJ      0.521344
EWT      0.629399
MCHI     0.635343
EWY      0.675211
EWZ      0.533868
           ...
ZAR=X    0.132302
RUB=X    0.095289
EUR=X    0.186922
JPY=X    0.081194
MXN=X    0.569602
Length: 63, dtype: float64

In [49]:
np.argsort(corrs)

EWJ      59
EWT      55
MCHI     57
EWY      56
EWZ      54
         ..
ZAR=X    12
RUB=X    27
EUR=X    31
JPY=X    21
MXN=X     7
Length: 63, dtype: int64

In [52]:
corrs.sort_values(axis=0)[:15]

JPY=X    0.081194
BRL=X    0.094671
RUB=X    0.095289
ZAR=X    0.132302
CNY=X    0.134425
EUR=X    0.186922
KSA      0.234277
QAT      0.365469
UAE      0.375328
EPU      0.425429
ICOL     0.468269
TUR      0.507790
FM       0.510881
JXI      0.517473
EWJ      0.521344
dtype: float64

In [54]:
# Loop through each semiannual period

top15 = {}

for i in range(1,len(semiannual)):
    corrs = semiannual[i].corr().abs().mean(axis=1)
    top15[i] = corrs.sort_values(axis=0)[:15]
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [55]:
top15

{1: CNY=X    0.078865
 JPY=X    0.116321
 RUB=X    0.116667
 ZAR=X    0.135677
 BRL=X    0.136997
 EUR=X    0.210791
 KXI      0.529112
 ACWV     0.567478
 MCHI     0.624926
 MXN=X    0.634076
 EIRL     0.655932
 EPHE     0.658137
 EIDO     0.664700
 TUR      0.692404
 EIS      0.693257
 dtype: float64, 2: BRL=X    0.084623
 EUR=X    0.112626
 JPY=X    0.117188
 CNY=X    0.117628
 RUB=X    0.145799
 ZAR=X    0.147198
 EPHE     0.518746
 EIRL     0.528939
 INDA     0.537874
 ENOR     0.562681
 EIS      0.571743
 EIDO     0.583107
 EWP      0.585431
 MXN=X    0.592983
 THD      0.594155
 dtype: float64, 3: JPY=X    0.070302
 CNY=X    0.075771
 BRL=X    0.075915
 ZAR=X    0.088212
 EUR=X    0.101070
 RUB=X    0.106086
 FM       0.293089
 INDA     0.333545
 TUR      0.375286
 EDEN     0.399229
 EIRL     0.421758
 EFNL     0.432039
 EPHE     0.433832
 EIS      0.436821
 EZA      0.446063
 dtype: float64, 4: BRL=X    0.067611
 CNY=X    0.076011
 EUR=X    0.123868
 ZAR=X    0.139976
 ICOL     0.146050
 RUB=X    0.162557
 JPY=X    0.222712
 TUR      0.346401
 MXN=X    0.388530
 EWJ      0.411996
 EWM      0.422703
 EFNL     0.422871
 FM       0.428138
 ENZL     0.456003
 EPU      0.457368
 dtype: float64, 5: CNY=X    0.078975
 RUB=X    0.091076
 ZAR=X    0.105593
 BRL=X    0.106822
 JPY=X    0.114657
 EUR=X    0.125570
 ICOL     0.247729
 EPU      0.377258
 FM       0.390218
 ENZL     0.420331
 EIS      0.434139
 MXN=X    0.443601
 ENOR     0.464917
 EDEN     0.469813
 TUR      0.485854
 dtype: float64, 6: ICOL     0.077293
 EUR=X    0.081263
 BRL=X    0.084136
 RUB=X    0.089845
 JPY=X    0.090004
 CNY=X    0.094561
 ZAR=X    0.105935
 UAE      0.166863
 QAT      0.210313
 EPU      0.312537
 ENZL     0.351849
 EWH      0.367064
 FM       0.367467
 ERUS     0.380208
 EWZ      0.381088
 dtype: float64, 7: BRL=X    0.075473
 CNY=X    0.079035
 JPY=X    0.089276
 ZAR=X    0.095414
 RUB=X    0.106006
 EUR=X    0.124267
 ENZL     0.225776
 QAT      0.313839
 ICOL     0.316911
 UAE      0.319227
 ERUS     0.335933
 EIS      0.340886
 MXN=X    0.356891
 EPU      0.361676
 EWY      0.367776
 dtype: float64, 8: CNY=X    0.058522
 JPY=X    0.080160
 BRL=X    0.091041
 EUR=X    0.093413
 RUB=X    0.102126
 ZAR=X    0.104871
 QAT      0.214499
 ICOL     0.328646
 EIS      0.349563
 EWH      0.353475
 FM       0.353599
 INDA     0.366804
 ENZL     0.371607
 UAE      0.372226
 MCHI     0.393571
 dtype: float64, 9: BRL=X    0.066641
 EUR=X    0.072571
 CNY=X    0.081221
 JPY=X    0.093919
 RUB=X    0.130888
 ZAR=X    0.233937
 QAT      0.297849
 ICOL     0.382808
 KSA      0.385860
 UAE      0.406524
 ENZL     0.442294
 TUR      0.469306
 FM       0.469660
 EPOL     0.494206
 EIS      0.514770
 dtype: float64, 10: JPY=X    0.081194
 BRL=X    0.094671
 RUB=X    0.095289
 ZAR=X    0.132302
 CNY=X    0.134425
 EUR=X    0.186922
 KSA      0.234277
 QAT      0.365469
 UAE      0.375328
 EPU      0.425429
 ICOL     0.468269
 TUR      0.507790
 FM       0.510881
 JXI      0.517473
 EWJ      0.521344
 dtype: float64, 11: CNY=X    0.085402
 EUR=X    0.087194
 RUB=X    0.088916
 BRL=X    0.108622
 JPY=X    0.111414
 KSA      0.118169
 ZAR=X    0.179356
 QAT      0.204933
 UAE      0.262939
 MXN=X    0.287469
 TUR      0.333055
 IXJ      0.335842
 FM       0.350809
 THD      0.354144
 ICOL     0.366456
 dtype: float64, 12: UAE      0.085748
 RUB=X    0.091457
 JPY=X    0.102783
 EUR=X    0.111221
 CNY=X    0.123321
 ZAR=X    0.125180
 QAT      0.131116
 KSA      0.166038
 BRL=X    0.191869
 JXI      0.253999
 FM       0.257259
 ENZL     0.264189
 ICOL     0.278234
 MXN=X    0.326729
 THD      0.346768
 dtype: float64, 13: CNY=X    0.071388
 BRL=X    0.085713
 EUR=X    0.086916
 ZAR=X    0.087458
 RUB=X    0.091862
 JPY=X    0.098511
 QAT      0.113621
 JXI      0.184588
 ICOL     0.217895
 KSA      0.230929
 MXN=X    0.243633
 UAE      0.261559
 FM       0.265171
 ENZL     0.267040
 ECH      0.281082
 dtype: float64, 14: EUR=X    0.093617
 JPY=X    0.096369
 CNY=X    0.097613
 BRL=X    0.099071
 ZAR=X    0.112037
 RUB=X    0.120322
 MXN=X    0.239683
 QAT      0.254583
 TUR      0.296764
 KSA      0.319345
 JXI      0.357965
 ERUS     0.378752
 EWM      0.389263
 UAE      0.401830
 EPHE     0.410506
 dtype: float64, 15: CNY=X    0.076850
 BRL=X    0.087273
 MXN=X    0.089299
 JPY=X    0.116222
 EUR=X    0.131154
 ZAR=X    0.151604
 RUB=X    0.195819
 QAT      0.246721
 JXI      0.283803
 TUR      0.346225
 EWZ      0.347533
 KSA      0.377637
 EWW      0.395846
 UAE      0.396003
 EPHE     0.422878
 dtype: float64, 16: JPY=X    0.084405
 CNY=X    0.093382
 MXN=X    0.108426
 BRL=X    0.111623
 RUB=X    0.114870
 ZAR=X    0.120346
 EUR=X    0.147327
 JXI      0.170308
 ENZL     0.279077
 QAT      0.287544
 KSA      0.305167
 TUR      0.315576
 EPHE     0.315799
 INDA     0.319170
 UAE      0.333952
 dtype: float64, 17: BRL=X    0.098053
 JPY=X    0.109269
 CNY=X    0.117145
 EUR=X    0.129167
 MXN=X    0.132726
 RUB=X    0.138831
 ZAR=X    0.154352
 TUR      0.227439
 ENZL     0.266156
 JXI      0.292359
 KSA      0.297254
 UAE      0.302466
 QAT      0.321264
 FM       0.322068
 INDA     0.324972
 dtype: float64, 18: BRL=X    0.083565
 EUR=X    0.086445
 JPY=X    0.092729
 RUB=X    0.095436
 ZAR=X    0.114694
 MXN=X    0.130118
 CNY=X    0.179067
 QAT      0.549102
 UAE      0.603764
 KSA      0.643917
 TUR      0.652486
 ECH      0.656713
 ERUS     0.659307
 ICOL     0.677951
 IHAK     0.689661
 dtype: float64, 19: CNY=X    0.075070
 BRL=X    0.093003
 MXN=X    0.097965
 RUB=X    0.102756
 EUR=X    0.109053
 ZAR=X    0.116486
 JPY=X    0.137468
 IHAK     0.221774
 UAE      0.266014
 EPHE     0.281776
 KWT      0.298794
 TUR      0.342440
 QAT      0.355770
 MCHI     0.364015
 EWM      0.374936
 dtype: float64}